:root {
    --primary-color: #5d74f7; /* Define the color variable */
    --secondary-color: rgba(156, 167, 231, 0.302);
  }

body {
  background-color: var(--secondary-color);  
}

.navbar-brand {
    color: var(--primary-color);
    padding: 1rem;
    padding-left: 3rem;
}

.nav_right>ul {
    text-decoration: none;
}

#collapsibleNavbar {
    padding-right: 5rem;

}

.wealth__journey {
    display: flex;
    flex-direction: column; /* Display as column by default */
    height: 50vh;
    background-color: var(--primary-color);
    color: white;
    align-items: center;
    gap: 2rem;
    justify-content: center;
    padding: 3rem;
    box-sizing: border-box; /* Include padding in the height calculation */
}

@media (min-width: 768px) {
    /* Change back to row layout on larger screens */
    .wealth__journey {
        flex-direction: row;
    }
}

.featured__in {
    padding-top: 0;
    display: flex;
    flex-direction: column; /* Display as column by default */
    height: 30vh;
    align-items: center;
    justify-content: center;
    padding: 3rem;
}

.about_me {
    text-align: center;

    display: flex;
    flex-direction: column; /* Display as column by default */
    height: 70vh;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#profile {
    width: 200px;
    border: solid;
    border-radius: 50%; /* Makes the image round */
    object-fit: cover; /* Ensures the image fills the circular container */
}

.social-icons {
    list-style-type: none; /* Remove default list bullets */
    display: flex;
    padding: 0;
    margin: 0;
}

.social-icons li {
    margin-right: 1rem; /* Adjust spacing between icons */
}

.social-icons li:last-child {
    margin-right: 0; /* Remove margin from the last icon */
}

.social-icons i {
    display: inline-block;
    font-size: 2rem;
    color: black; /* Set your desired color */
    cursor: default; /* Remove pointer cursor */
}

#join {
    border-radius: 30px;
}

.services {
    text-align: center;
    display: flex;
    flex-direction: column; /* Display as column by default */
    height: 350vh;
    padding: 1rem;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.profile__cards {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 2rem;
}

@media (min-width: 768px) {
    /* Change back to row layout on larger screens */
    .about_me {
        height: 50vh;
    }

    .services {
        height: 170vh;
    }
    .profile__cards {
        flex-direction: row;
    }
}

.consultation_cards {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 2rem;
}

@media (min-width: 768px) {
    /* Change back to row layout on larger screens */
    .consultation_cards {
        flex-direction: row;
    }
}

.testimonials {
    text-align: center;
    display: flex;
    flex-direction: column; /* Display as column by default */
    height: 70vh;
    padding: 1rem;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.media {
    text-align: center;
    display: flex;
    flex-direction: column; /* Display as column by default */
    height: 30vh;
    padding: 1rem;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

#intro_video {
    border: solid;
    width: fit-content;
}

@media (min-width: 768px) {
    /* Change back to row layout on larger screens */
    .consultation_cards {
        flex-direction: row;
    }

    .testimonials {
        height: 50vh;
    }

    .media {
        height: 50vh;
    }

    #intro_video {
        width: 400px;
        height: 500px;
    }
}

.blank {
    height: 10vh;

}

.one__click {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    width: 100%;
    height: 40vh;
    border-radius: 20rem 20rem 0 0;
    background-color: var(--primary-color);
}

.join_the_community {
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3rem;
    gap: 2rem;
}

.photo_phone {
    max-width: 100%;
}

@media (min-width: 768px) {
    /* Change back to row layout on larger screens */

    .one__click {
        border-radius: 70rem 70rem 0 0;
    }

    .photo_phone {
        width: 300px;
    }
}

#logo_end {
    background-color: var(--primary-color);
    color: white;
    height: 10vh;
}

.testimonial_cards_bg {
    display: flex;
    gap: 5rem;
    padding: 2rem;
}

.hidden {
    display: none;
}

@media (min-width: 768px) {
    /* Change back to row layout on larger screens */

    #logo_end {
        background-color: bg-light;
    }
}